{{>head}} 
{{!-- подобный синтаксис нужен для установки сюда файла разметки с папки partials --}}
<body>
    {{{body}}}
    {{!-- в body передается разметка устанавливаемая с рендера --}}
    {{>footer}}
</body>
</html>