{{>head}} 
{{!-- подобный синтаксис нужен для установки сюда файла разметки с папки partials --}}
<body>
   {{>navbar}}
   <div class="container">
    {{{body}}}
    {{!-- в body передается разметка устанавливаемая с рендера --}}
    {{!-- подобный синтаксис нужен для установки сюда файла разметки с папки partials --}}
    </div>
    {{>footer}}
</body>
</html>